name: Push Tags After Dependabot Merge

on:
  pull_request:
    types: [closed]
    branches: [main]
  workflow_dispatch:

jobs:
  push-tags:
    if: |
      github.event.pull_request.merged == true && 
      github.event.pull_request.user.login == 'dependabot[bot]'
    uses: oneminch/workflows/.github/workflows/push-tags.yml@v1
    permissions:
      contents: write
